
<!-- <div id="container"> -->


        <div id="container">
                <mat-card> 

               	<div id="mainpic" class="img-responsive">
        	        <h1>EcoSysValley farms</h1>
                        <h2>Organic Produce</h2>
                   <!-- <img src="../assets/img/nature9.jpg" class="img-responsive" width="800px" height= "500px"  alt="image caption"/> -->
                <!-- <img src="../assets/img/nature9.jpg" class="img-responsive" alt="Cinque Terre" width="904" height="536">  -->
              </div>

            </mat-card> 

<!--         
        <div  >
                <mat-card>
                 
                </mat-card>
              </div> -->



        <!-- <mat-card flex="25">
            <img src="../assets/img/nature9.jpg" width="600px"> -->
		<!-- <div id="mainpic">
        	<h1>EcoSysValley farms</h1>
            <h2>Organic Produce</h2>
        </div>    -->
    <!-- </mat-card> -->
    <mat-card> 
 <marquee> Hello Prabhurajan... </marquee> 
            <mat-tab-group dynamicHeight>
                    <mat-tab label="Home">
                      <div class="example-large-box mat-elevation-z4">
                            <mat-grid-list cols="5" rowHeight="1:1">
                                <mat-grid-tile>
                                    <img src="./assets/ecosysimage/pl1.jpg" height="450">
                                </mat-grid-tile>
                                <mat-grid-tile>
                                        <img src="./assets/ecosysimage/pl2.jpg" height="450">
                                </mat-grid-tile>
                                <mat-grid-tile>
                                        <img src="./assets/ecosysimage/pl3.jpg" height="450">
                                </mat-grid-tile>
                                <mat-grid-tile>
                                        <img src="../assets/ecosysimage/pl4.jpg" height="450">
                                </mat-grid-tile>
                                <mat-grid-tile>
                                        <img src="./assets/ecosysimage/pl5.jpg" height="450">
                                </mat-grid-tile>
                                <mat-grid-tile>
                                        <img src="./assets/ecosysimage/pl6.jpg" height="450">
                                </mat-grid-tile>
                                <mat-grid-tile>
                                        <img src="./assets/ecosysimage/pl7.jpg" height="450">
                                </mat-grid-tile>
                            </mat-grid-list>
                      </div>
                    </mat-tab>
                    <mat-tab label="About">
                      <div class="example-large-box mat-elevation-z4">
                            In Progress.....
                      </div>
                    </mat-tab>
                    <mat-tab label="Services">
                            <div class="example-large-box mat-elevation-z4">
                                    In Progress.....
                            </div>
                          </mat-tab>
                          <mat-tab label="Design">
                            <div class="example-large-box mat-elevation-z4">
                                    In Progress.....
                            </div>
                          </mat-tab>
                          <mat-tab label="Products">
                                <div class="example-large-box mat-elevation-z4">
                                        In Progress.....
                                </div>
                              </mat-tab>
                              <mat-tab label="Contact">
                                <div class="example-large-box mat-elevation-z4">
                                        In Progress.....
                                </div>
                              </mat-tab>
                  </mat-tab-group>
                </mat-card>

    <!-- <mat-tab-group>
            <mat-tab label="Home"> Content 1 </mat-tab>
            <mat-tab label="About"> Content 2 </mat-tab>
            <mat-tab label="Services"> Content 3 </mat-tab>
            <mat-tab label="Design"> Content 4 </mat-tab>
            <mat-tab label="Products"> Content 5 </mat-tab>
            <mat-tab label="Contact"> Content 6 </mat-tab>
          </mat-tab-group>

        </mat-card>  -->
    <!-- <div>
        <div id="menu">
        	<ul>
            	<li class="menuitem"><a href="#maincontent">Home</a></li>
                <li class="menuitem"><a href="#about">About</a></li>
                <li class="menuitem"><a href="#services">Services</a></li>
                <li class="menuitem"><a href="#design">Design</a></li>
                <li class="menuitem"><a href="#products">Products</a></li>
              <li class="menuitem"><a href="#contact">Contact</a></li>
            </ul>
        </div>
        


		<div id="maincontent">
            <h2> In Progress.....</h2>
      </div>

     



  

      <div id="footer"><h3>  </h3></div>

   </div> -->


<router-outlet></router-outlet>
